

div.box h1{
	
	margin: 0 0 10px;
	padding: 0;
	color: #fff;
	font-size: 24px;
}

.box {
	position: absolute;
	top: 35%;
	left: 70%;
	width: 700px;
	transform: translate(-50%,50%);
}

input {
	position: relative;
	display: inline-block;
	font-size: 20px;
	box-sizing: border-box;
}

input[type="text"]
{
	background: #ecf1ea;
	width: 540px;
	height: 50px;
	border: none;
	outline: none;
	padding: 0 25px;
	border-radius: 10px 0 0 10px;
}

input[type="submit"]
{
	position: relative;
	left: -5px;
	border-radius: 0 10px 10px 0;
	width: 150px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #29455A;
	color: #fff;
}

input[type="submit"]:hover {
	-moz-box-shadow: 0 0 5px black;
-webkit-box-shadow: 0 0 5px black;
box-shadow: 0 0 5px black;
}


#search-photografee:hover{
   -moz-box-shadow: 0 0 5px #999;
-webkit-box-shadow: 0 0 5px #999;
box-shadow: 0 0 5px #999;
    }
    
#search-photografee:focus{
     -moz-box-shadow: 0 0 5px #999;
-webkit-box-shadow: 0 0 5px #999;
box-shadow: 0 0 5px #999;
    }


