@import url('https://fonts.googleapis.com/css?family=Krona One|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  justify-text: center;
  background-image: url("https://i.postimg.cc/MpmbkMBx/bg.jpg");
  background-position: center;
  background-size:cover;
  font-family: 'Josefin Sans', sans-serif;
}

.company{
  margin-top: 50px;
}

.company h1{
  font-family: 'Krona One', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: #FFF;
}

.profile{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.profile .profile-member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 350px;
  padding: 20px;
  line-height: 20px;
  color: #lightblue;  
  position: relative;
  text-align: justify;
  text-justify: inter-word;
}

.profile .profile-member h3{
  color: #839192;
  font-size: 26px;
  margin-top: 50px;
}

.profile .profile-member p.position{
  color: #196F8F;
  margin: 12px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.profile .profile-member .profile-img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.profile .profile-member .profile-img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

h1{
margin-right: 28%;
}

fieldset{
  background-color: #ffffff; 
  border: 0; 
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3%;
  text-align: justify;
  text-justify: inter-word;
}

h2{
  text-align:center; 
  font-family: Krona One; 
  color: #196F8F;
}
.center{
  width:95px; 
  height:95px;
  display:block;
  margin-left:26%;
  margin-top: 0%;
  float: left;
}

.bg{
  width: 40%;
  height: 30%;
  float: right;
  margin-left: 3%;
  margin-right:3%;
  margin-bottom: 3%;
}

.about{
  color: #196F8F;
  margin-left: 3%;
  margin-bottom: 2%;
}

.pf{
margin-left: 3%;
margin-right: 5%;
}

.cp{
color:#ffffff;
margin-left: 33%;
margin-top: -4%;
}

p:active{
color: black;
}
p:visited{
color: brown;
}